{
  "extends": "airbnb",
  "globals": {
    "fetch": false,
    "__DEV__": true
  },
  "env": {
    "jest": true
  },
  "plugins": ["react", "react-native"],
  "rules": {
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react-native/no-unused-styles": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2
  }
}
